#blueText {
    color: blue;
}

#redText {
    color: red;
}

#yellowText {
    color: yellow;
    text-shadow: -1px 0 black, 0 0.2px black, 0.2px 0 black, 0 -1px black;
}

#greenText {
    color: green;
}

/*changine bullet points to match text color css. makes the 'yellow' bullet point pop.*/
ul {
    list-style: none;
    /* Remove list bullets */
    padding: 0;
    margin: 0;
}

li {
    padding-left: 16px;
}

.colors li:before {
    content: "•";
    /* Insert content that looks like bullets */
    padding-right: 8px;
    color: black(14, 14, 15);
}

/*^^^^^^^end change bullet points color*/

strong {
    color: purple;
}

/*crystal img css*/
.crystals {
    clear: both;
    width: 23%;
    display: flex;
}

.crysImage {
    height: 60px;
    margin: 10px;

}

.crysFloat {
    /* float: none; */
    /* position: relative; */
    /* width: 30%; */
    /* display: inline-block; */
}

/*^^^^end crystal css*/

/* #floatRight {
    float: right
} */

.largeText {
    font-size: 60px;
}


.cardBorder {
    border-style: solid;
    border-color: rgb(199, 113, 0);
    border-width: 3px;
}